@page {
    size: A4;
    margin: 10mm;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    page-break-inside: avoid;
    margin: 20px;
}

.card {
    
    background-color: #D4AF37;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 5cm;
    height: 1.6cm;
}

.card .qr-code {
    width: 1cm;
    height: 1cm;
    background: white;
    padding: 5px 5px 5px 5px;
    margin-top: -4px;

}


.card .kode {
    font-weight: bold;
    font-size: 15px;
    margin: 13px;
}
.no-print{
    margin: 10px;
}
.no-print a{
    color: black;
    text-decoration: none;
}
@media print {
    .no-print {
        display: none;
    }

    .card {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

